.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: #000;
    --ym-controls-color-secondary-outline-selected: #000;
    --ym-controls-color-secondary-card-enabled: #0009;
    --ym-controls-color-secondary-card-hovered: #000;
    --ym-background-color-primary-enabled-popover: #000;
    --ym-background-color-primary-enabled-content: #000;
    --ym-outline-color-primary-disabled: #000;
    --ym-controls-color-primary-outline-enabled: #000;
    --ym-controls-color-primary-text-enabled: #fff;
    --ym-logo-color-primary-player: #fff;
    --ym-controls-color-secondary-text-enabled: #fff;
    --ym-controls-color-primary-default-enabled: #fff;
    --ym-controls-color-primary-outline-selected_stroke: #fff;
    --ym-controls-color-primary-text-vibe_icon: #fff;
    --ym-controls-color-primary-text-vibe: linear-gradient(
        180deg,
        #fff 0%,
        #fff 100%
    );
}

[class*="PlayerBar_root"],
[class*="FullscreenPlayerDesktop_important"] {
    --player-average-color-background: #000 !important;
    --ym-outline-color-primary-disabled: #000 !important;
}

[class*="VibeButton_button"] {
    --vibe-button-text-color: #000 !important;
    --vibe-button-background: #fff !important;
    --ym-controls-color-secondary-on_default-hovered: #000 !important;
}

[class*="TitleBar_pulseText"],
[class*="TitleBar_nextText"] {
    color: #fff !important;
    font-weight: 500 !important;
}

[class*="NavbarDesktop_logo"] * {
    --logo-color: #fff !important;
}

[class*="VibeBlock_root"] {
    max-height: 300px;
    min-height: 300px;
}

[class*="VibeAnimation"],
[class*="Page_averageColorBackground"] {
    display: none;
}
