/*ФОН*/
.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: #000000;
}

body > div > p {
	visibility: hidden;
}

body > div > p:after {
	position: absolute;
	visibility: visible;
	right: 0;
	content: "Colorful";
	color: rgb(255 255 255 / 100%)
}

/*Плеер*/
section.PlayerBar_root__cXUnU {
	background: 0;
	border-width: 0;
}

/*БАЗА*/
.DefaultLayout_content__md70Z {
	background: 0;
	border-width: 0;
}

/*Вайб анимация*/
.VibeAnimation_root_visible__S7kXl {
	display: none;
}

/*Главная страница*/
.MainPage_vibe__XEBbh {
	max-height: 300px;
	min-height: 300px;
	top: -30px;
}

.NavbarDesktop_logo__Z4jGx,
.NavbarDesktop_title_animate__XLxaQ,
.o_v2ds2BaqtzAsRuCVjw,
.nSU6fV9y80WrZEfafvww,
.ArtistCard_titleLink__G8Puz,
.AlbumCard_titleLink__u_WLG,
.YjRa1ZjM_lXFlrfS7jcu,
.PageHeaderTitle_title__caKyB,
.BlockHeader_heading__4iqvS,
.nSU6fV9y80WrZEfafvww,
.Tab_title__hAYZk,
.NewReleaseCard_title__BRr4Y,
.Meta_title__GGBnH,
.UserProfile_userName__PTRuJ,
.SyncLyricsLine_root__r62BN,
.ChangeTimecode_slider__P4qmT:before {
	filter: brightness(0) invert(1);
}

.CollectionPage_description__A3dny:before {
	visibility: visible;
	position: relative;
	content: "У вас нет";
	left: 0;
	top: 0;
}

.CollectionPage_description__A3dny:after {
	visibility: visible;
	position: relative;
	content: "прав";
	color: #E6E6E6;
	left: -169px;
	top: 0;
}

.CollectionPage_description__A3dny {
	visibility: hidden;
}

.SplashScreen_video__wFSy5 {
	filter: grayscale(100%);
}

.xuw9gha2dQiGgdRcHNgU {
	visibility: hidden;
}

.xuw9gha2dQiGgdRcHNgU:after {
	content: "Чиназес";
	visibility: visible;
	position: absolute;
	left: 0;
	top: 0;
}

/*Тайтлбар*/
.TitleBar_root__QjdOZ {
    position: fixed;
    z-index: 9999;
}

/* ONLY background: color; */
.SyncLyrics_content__lbkWP:after,
.SyncLyrics_content__lbkWP:before,
.SyncLyrics_root__6KZg4 {
    background: #000;
}