/*ФОН*/
.ym-dark-theme {
    --ym-background-color-primary-enabled-basic: #000000;
}

body > div > p {
	visibility: hidden;
}

body > div > p:after {
	position: absolute;
	visibility: visible;
	right: 0;
	content: "Colorful";
	color: rgb(255 255 255 / 100%)
}

/*Плеер*/
section.PlayerBar_root__cXUnU {
	background: 0;
	border-width: 0;
}

/*БАЗА*/
.Content_main__8_wIa {
	background: 0;
	border-width: 0;
}

/*Вайб анимация*/
.VibeAnimation_root_visible__S7kXl {
	display: none;
}

/*Главная страница*/
.MainPage_vibe__XEBbh {
	max-height: 300px;
	min-height: 300px;
	top: -30px;
}

.NavbarDesktop_logo__Z4jGx,
.NavbarDesktop_title_animate__XLxaQ,
.o_v2ds2BaqtzAsRuCVjw,
.nSU6fV9y80WrZEfafvww,
.ArtistCard_titleLink__G8Puz,
.AlbumCard_titleLink__u_WLG,
.YjRa1ZjM_lXFlrfS7jcu,
.PageHeaderTitle_title__caKyB,
.BlockHeader_heading__4iqvS,
.nSU6fV9y80WrZEfafvww,
.Tab_title__hAYZk,
.NewReleaseCard_title__BRr4Y,
.Meta_title__GGBnH,
.UserProfile_userName__PTRuJ,
.SyncLyricsLine_root__r62BN,
.ChangeTimecode_slider__P4qmT:before,
.QYgjNkDJ7XdqE28ipieh,
.UwnL5AJBMMAp6NwMDdZk {
	filter: brightness(0) invert(1);
}

/*Only color: #color;*/
.Meta_artistCaption__JESZi,
.BlockHeader_description__hAk9D,
.ChangeVolume_icon__5Zv2a,
.Tab_subtitle__fLp9S,
.LikesAndHistoryItem_subtitle__ghuKi,
.NewReleaseCard_type__1LjSl,
.NewReleaseCard_date__blYRu,
.ControlsBar_contextMenuWrapper__NHkn_,
.PageHeaderPlaylistMeta_updatedText__FSo_0,
.PageHeaderBase_entityName__9Sj_Q,
[data-test-id="SOUND_QUALITY_BUTTON"],
[data-test-id="LIKE_BUTTON"],
[data-test-id="SEPARATED_ARTIST_TITLE"],
.PageHeaderAlbumMeta_artistLabel__2WZSM {
	color: #fff;
}

.Meta_artistCaption__JESZi:hover,
[data-test-id="SEPARATED_ARTIST_TITLE"]:hover {
	text-decoration: underline;
}

.CollectionPage_description__A3dny:before {
	visibility: visible;
	position: relative;
	content: "У вас нет прав";
	color: #fff;
	left: 0;
	top: 0;
}

.CollectionPage_description__A3dny {
	visibility: hidden;
}

.SplashScreen_video__wFSy5 {
	filter: grayscale(100%);
}

.xuw9gha2dQiGgdRcHNgU {
	visibility: hidden;
}

.xuw9gha2dQiGgdRcHNgU:after {
	content: "Чиназес";
	visibility: visible;
	position: absolute;
	left: 0;
	top: 0;
}

/*Тайтлбар*/
.TitleBar_root__QjdOZ {
    position: fixed;
    z-index: 9999;
}

/* ONLY background: color; */
.SyncLyrics_content__lbkWP:after,
.SyncLyrics_content__lbkWP:before,
.SyncLyrics_root__6KZg4,
.FullscreenPlayerDesktop_modalContent__Zs_LC {
    background: #000;
}

/*Фуллскрин импортент*/
.FullscreenPlayerDesktop_important__dGfiL {
	border-width: 0;
}

/*Края слайдера*/
.ChangeTimecode_slider__P4qmT {
	--slider-thumb-box-shadow-color: #000;
}

.QualitySettingsContextMenu_root_withNewQuality__jPTb8 {
	background: #000;
	border-style: solid;
	border-color: #fff1;
	border-width: 2px;
}